<html>

<head>
  <meta charset="utf-8">
  <!-- Latest compiled and minified bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="stylesheet" href="dist/bundle.css">
  <title>{% if title is defined %}{title}{% else %}A.M. Fiorillo{% endif %}</title>
</head>

<body>
  <div class="container-full">
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">A.M. Fiorillo</a>
      </div>
    </div>
    <div id="content" class="app-container" />
  </div>
  <script src="dist/bundle.js" type="text/javascript"></script>
</body>

</html>