<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hello, WebVR! • A-Frame</title>
  <meta name="description" content="Hello, WebVR! • A-Frame">
  <script src="https://aframe.io/releases/0.9.2/aframe.min.js"></script>
  <script src="https://unpkg.com/aframe-environment-component/dist/aframe-environment-component.min.js"></script>
  <script src="{{ url_for('aframe.atoms_js') }}"></script>
</head>

<body>
  <a-scene background="color: #000000" inspector="" keyboard-shortcuts="" screenshot="" vr-mode-ui="" visible="">
    <a-entity environment="preset: default; dressingAmount: 500"></a-entity>

    <a-entity id="atom" position="0 {{max_radius+0.5}} -{{max_radius+2}}" rotation="0 0 0">
      <a-sphere radius="0.05" color="#CA0000" id="nucleus"></a-sphere>
      
      {% for electron in electrons %}
      <a-entity bohr-electron="orbitalRadius: {{electron.orbitalRadius}}; orbitalPhase: {{electron.orbitalPhase}}; orbitaPerSec: {{electron.orbitsPerSec}}; thetaX: {{electron.thetaX}}; thetaY: {{electron.thetaY}}" id="{{electron.id}}"></a-entity>
      <a-entity bohr-electron-track="orbitalRadius: {{electron.orbitalRadius}}; thetaX: {{electron.thetaX}}; thetaY: {{electron.thetaY}}" id="{{electron.id}}-track"></a-entity>> 

      {% endfor %}
    </a-entity>


    <div class="a-loader-title" style="display: none;">Hello, WebVR! • A-Frame</div>
  </a-scene>
</body>

</html>